@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap');

html {
    margin: 0;
    padding: 0;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
}
* {
    font-family: 'Readex Pro', sans-serif;
}

.primary-button {
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(30deg, rgb(48, 213, 254), rgb(0, 52, 255));
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(270deg, rgb(48, 213, 254), rgb(0, 52, 255));
}
/* Navbar Styling*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .nav-button {
    color: rgb(0, 52, 255);
    background-color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

/* applies to anything with a class name of logo within the nav  */
nav .logo-container {
    width: 170px;
    margin: 15px;
}
nav .logo-container .logo {
    width: 100%;

}

/* Homepage Styling */
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0) 100%
    )
}